#content > button, #content2 > button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#content2 {
  display: none;
}

div img {
  height: 20px;
  border: 1px black solid;
  background-color: red;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

div {
  text-align: left;
  width:95%;
  border: 5px #c9ad6a double;
  background-color: #F5F5DC;
  margin: auto;
  margin-top: 0.5rem;
  position: relative;
}

div span {
  display: inline-block;
  min-width: 50%;
  max-width: 50%;
  /*border: 5px blue double;*/
  text-align: left;
  margin-top: 8px;
  margin-bottom: 8px;
  margin: 8px 12px;
  color: #58180d;
}

div input {
  width: 50px;
  text-align: center;
}

.purse {
  width: 60px;
}

.switchInv {
  min-width: 49.5vw;
  text-align: center;
  display: inline-block;
  
  /*text-decoration: underline;
  text-decoration-color: #c9ad6a;*/
  font-size: 26px;
  color: #58180d;
  margin-bottom: 0.5rem;
}

#InvButton1 {
  border-right: 1vw #c9ad6a double;
  border-bottom:1vw #c9ad6a double;
  background-color: #F5F5DC;
}

#InvButton2, #BohButton1 {
  border-bottom: 1vw #c9ad6a double;
  color: #c9ad6a;
}

#BohButton2 {
  border-left: 1vw #c9ad6a double;
  border-bottom: 1vw #c9ad6a double;
  background-color: #F5F5DC;
}