#navigation {
  background-color:  #c9ad6a;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0;
  right: 0;
  width:100%;
  border-bottom: 3px solid #58180d;
  z-index: 1;
}

#flipThis {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#navigation a {
  width: 50px;
  border: 3px #F5F5DC	 solid;
  height: 50px;
  margin: 5px;
  background-color: #F5F5DC	;
  border-radius: 30px;
}

#navigation a img {
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */

}


.navButtons {
  height: 50px;

  display:block;
  margin-left: auto;
  margin-right: auto;
}


#content, #content2{
  margin-top: 75px;
}

.row2,.row1 {
  display:none;
}
