

td img {
  height: 50px;
  background-color: green;

}

#hc, #wl, #sc {
  display: none;
}

#content, #content2{
  margin-right: 0;
  margin-left: 0;
  width:100%;
  text-align: center;
  color: #58180d;
  font-size: 18px;
}

html, body {
    margin:0;
    padding:0;
}

body{
  background-color: #e5dec1;

}

input, select{
  font-size:20px;
}

input {
  text-align:center;
  height: 27px;
  border: 1px solid #c9ad6a;
  width: 35px;
}

#inputForName {
  width: 95%;
}

#CEfirstClass, .MulticlassDiv {
  text-align: center;
  padding:3px;
}

#CEfirstClass > input, .MulticlassDiv > input {
  margin: 5px;
}

select{
  width:95%;
}

.header {
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: #c9ad6a;
  font-size: 26px;
  color: #58180d;
  margin-bottom: 0.5rem;
}
